Repository f3rno64/track-time-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different, stylelint, markdownlint

.lintstagedrc:

{
  "*.{json,js,jsx,ts,tsx}": ["eslint", "prettier --list-different"],
  "*.scss": ["stylelint"],
  "*.md": ["markdownlint"]
}

chore: minor GH workflow file formatting
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix(lint): lint only README.md, not auto-generated CHANGELOG.md
  .lintstagedrc
  package.json
Due: eslint, prettier --list-different

chore(release): 1.41.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

chore(lint): use stylish eslint formatter
  package.json
Due: eslint, prettier --list-different

refactor(workflows): add pnpm/action-setup@v2 and node-versions to GH workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

feat: add db migrations, db version 2 with entry tags
  src/commands/breakdown/handler.ts
  src/commands/breakdown/types.ts
  src/commands/breakdown/utils/populate_results.ts
  src/config.ts
  src/db/convert_json_db.ts
  src/db/index.ts
  src/db/migrate_json_db_to_version_two.ts
  src/types.ts
  src/types/data.ts
  src/types/generic_data.ts
  src/types/index.ts
  src/types/yargs.ts
  src/utils/get_logger.ts
  src/utils/index.ts
Due: eslint, prettier --list-different

refactor: make sheet names red
  src/color/sheet.ts
Due: eslint, prettier --list-different

chore(release): 1.41.1
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

refactor: sort sheets in sheets cmd, closes #13
  src/commands/sheets/handler.ts
Due: eslint, prettier --list-different

chore(release): 1.41.2
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

chore: update npmignore
  .npmignore
Due: none

refactor: disable sourcemap generation
  tsconfig.json
Due: eslint, prettier --list-different

fix: add dist/tests to npmignore
  .npmignore
Due: none

chore(release): 1.41.3
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

chore: wip reset me
  src/commands/week/handler.ts
  src/utils/get_sheets_with_entries_in_last_week.ts
Due: eslint, prettier --list-different

chore: wip reset me (buggy, not complete)
  src/commands/week/handler.ts
Due: eslint, prettier --list-different

feat: early tags support, prefixed with @; integrated with a few commands
  src/color/index.ts
  src/color/tag.ts
  src/commands/in/handler.ts
  src/commands/resume/handler.ts
  src/db/index.ts
  src/print/active_sheet_entry.ts
  src/print/checked_in_entry.ts
  src/print/columns/get_sheet_entry_columns.ts
  src/utils/index.ts
  src/utils/parse_entry_from_input.ts
Due: eslint, prettier --list-different

chore(release): 1.42.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

refactor(list): default to relative timestamps, add absolute option
  src/commands/list/const.ts
  src/commands/list/handler.ts
  src/commands/list/types.ts
  src/options/absolute.ts
  src/options/index.ts
Due: eslint, prettier --list-different

refactor(list): default to showing last 25 viable entries
  src/commands/list/handler.ts
  src/utils/get_first_past_date_with_entries.ts
  src/utils/index.ts
Due: eslint, prettier --list-different

fix: rename absolute alias to abs to not clobber all option
  src/options/absolute.ts
Due: eslint, prettier --list-different

chore(release): 1.42.1
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

feat(sheets): list last five active sheets in output
  src/commands/sheets/handler.ts
  src/utils/get_last_five_active_sheets.ts
  src/utils/index.ts
Due: eslint, prettier --list-different

chore(release): 1.43.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

refactor(list): add total entry count to command output
  src/commands/list/handler.ts
Due: eslint, prettier --list-different

chore(release): 1.43.1
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

refactor(app): alter yesterday cmd to list all sheets if none specified
  src/commands/yesterday/handler.ts
Due: eslint, prettier --list-different

refactor(app): alter yesterday & today cmds to default to relative times
  src/commands/today/const.ts
  src/commands/today/handler.ts
  src/commands/today/types.ts
  src/commands/yesterday/const.ts
  src/commands/yesterday/handler.ts
  src/commands/yesterday/types.ts
Due: eslint, prettier --list-different

chore(release): 1.43.2
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

fix: run pnpm format
  pnpm-lock.yaml
Due: none

feat: add week report header to week command stating since date
  src/commands/week/handler.ts
Due: eslint, prettier --list-different

fix: add docs and docs_build to prettier and eslint ignores
  .eslintignore
  .prettierignore
Due: none

chore(release): 1.44.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

chore(release): 1.45.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different, markdownlint

fix(in): alter description arg requirement to fix --help
  src/commands/in/const.ts
Due: eslint, prettier --list-different
